<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script>
        function register() {
            alert("前往注册页面");
        }
        function login() {
            alert("点击事件登录");
            
        }

    </script>
</head>
<body>
    <h3>欢迎来到我的博客</h3>
        账号：<input type="text" id="username"/>
        <br/>
        密码：<input type="text" id="password"/>
        <br/>
    <button onclick="login()">注册</button>
    <button onclick="register()">注册</button>
</body>
</html>